<?xml version="1.0" ?>
<module>
  <Login f="nodata">
      <User_List>
        <Users t="dropdown" f="user nocertainty noannotation"/>
        <Log_in  t="button" ll="Control"/>
        <Sign_up t="button" l="signup"/>
      </User_List>
  </Login>
  <Control f="nodata">
    <Control f="noscroll">
      <New_Fish t="button" f="nocertainty noannotation" l="Fish"/>
      <List_of_Fish t="list" f="nocertainty noannotation" e="Fish"/>
    </Control>
    <search>
      Search
    </search>
  </Control>
  <Fish>
    <Fish>
      <author f="id">
        Author
        <str>
          <pos>1</pos>
          <fmt>$2: </fmt>
        </str>
      </author>
      <timestamp f="id">
        Timestamp
        <str>
          <pos>3</pos>
          <fmt>$2</fmt>
        </str>
      </timestamp>
      <Attach_Photo t="camera"/>
      <gps>Fill_in_GPS</gps>
      <Fish_Type t="picture" f="id">
        <desc>Select the appropriate fish</desc>
        <str>
          <pos>2</pos>
          <fmt>$1 - </fmt>
        </str>
        <opts>
          <opt p="MangroveJack.jpg">MangroveJack</opt>
          <opt p="Carp.jpg">Carp</opt>
          <opt p="Barramundi.jpg">Barramundi</opt>
          <opt p="Bass.jpg">Bass</opt>
          <opt p="Perch.jpg">Perch</opt>
          <opt p="Garfish.jpg">Garfish</opt>
        </opts>
      </Fish_Type>
      <Size_in_cm b="decimal" f="notnull">
        Size (cm)
        <desc>Measure the fish in centimetres</desc>
      </Size_in_cm>
      <Sex t="radio">
        <opts>
          <opt>Male</opt>
          <opt>Female</opt>
          <opt>Unknown</opt>
        </opts>
      </Sex>
      <Location b="string">
        <desc>Detailed description of the fishing location</desc>
      </Location>
      <Depth_in_cm b="decimal">Depth (cm)</Depth_in_cm>
      <Weather_Conditions t="checkbox">
        <opts>
          <opt>Sunny</opt>
          <opt>Cloudy</opt>
          <opt>Stormy</opt>
          <opt>Rain</opt>
          <opt>Lots of Rain</opt>
        </opts>
      </Weather_Conditions>
      <Fishing_Methods t="dropdown">
        <opts>
          <opt>No Observation</opt>
          <opt>Bait</opt>
          <opt>Lure</opt>
          <opt>Fly</opt>
          <opt>Net</opt>
        </opts>
      </Fishing_Methods>
      <Number_of_Fishers_in_Party b="decimal">
        <desc>How many people were actively fishing?</desc>
      </Number_of_Fishers_in_Party>
      <Comments b="string"/>
      <Released t="radio">
        Released?
        <desc>Was the fish released?</desc>
        <opts>
          <opt>Yes</opt>
          <opt>No</opt>
          <opt>No Observation</opt>
        </opts>
      </Released>
      <Tag_no b="string">
        Tag no (if released)
        <desc>Retype the tag number if the fish was released</desc>
      </Tag_no>
    </Fish>
  </Fish>

  <logic><![CDATA[
    /***************************** CUSTOM VALIDATION ******************************/

    String getName(String ref, String defaultName) {
      String refOri = "Fish/Fish/Size_in_cm";

      if (ref.equals(refOri))
        return defaultName + " field must have a value between 20.00-100.0";

      return defaultName;
    }

    String getCond(String ref, String defaultCond) {

      return defaultCond;
    }

    // Overrides autogenerated definition
    boolean isValidField(String ref) {
      String refOri = "Fish/Fish/Size_in_cm";
      if (!ref.equals(refOri))
        return !isNull(getFieldValue(ref)); // Do blank check

      // Do range check
      String val = getFieldValue(refOri);
      double dblVal;
      try {
        dblVal = Double.parseDouble(val);
      } catch(NumberFormatException e) {
        dblVal = -1.0;
      }

      double fltMin =  20.0;
      double fltMax = 100.0;

      return dblVal >= fltMin &&
             dblVal <= fltMax;
    }

    // Overrides autogenerated definition
    List fieldPair(String ref, String name, String cond) {
      String refOri = "Locus/Cut/Orientation_Degree";

      name = getName(ref, name);
      cond = getCond(ref, cond);

      List fp = new ArrayList();
      fp.add(ref);
      fp.add(name);
      fp.add(cond);

      return fp;
    }
    ]]></logic>


</module>
