.fish_list {
    height: 75%;
}

.user_list{
    height: 100%;
}

.list{    

}

.list-label{
    margin-top:7%;
}

.faims-blue {
    background-color: #33b5e5;
    border-color: #26a0cd;
    color: white;
    margin-top:2%;
    margin-bottom:2%;

    border-width:1%;
    border-radius:5%;
    
}

.faims-danger {
    background-color: #d9534f;
    border-color: #be3e3a;
    color: white;
    margin-top:2%;
    margin-bottom:2%;

    border-width:1%;
    border-radius:5%;
}

.faims-success {
    background-color: #45b845;
    border-color: #38a538;
    color: white;
    margin-top:2%;
    margin-bottom:2%;

    border-width:1%;
    border-radius:5%;
}